.navbar {
  width: 100%;
  height: 70px;
  background-color: purple;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.links {
  justify-content: flex-end;
  margin-right: 30px;
  display: flex;
  align-items: center;
  
}

.links a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  font-size: 25px;
}
.name{
  size: 29px;
  color: white;
}
.appname{
  color: white;
  margin-right: 630px;
}
.links button{
  justify-content: flex-end;
  align-items: right;
   margin-left: 30px;
  height: 40px;
} 